<div id="floating-buttons" class="fixed flex flex-col z-40 right-6 bottom-6 gap-5 transition-opacity duration-300">
    <a href="https://wa.me/905332168318">
        <button  class="p-3 rounded-2xl text-lg cursor-pointer hover:bg-green-300 bg-green-700 text-white transition-colors flex items-center gap-3">
            <img src="../../public/svg/icons8-whatsapp.svg" alt="">
            <p>WhatsApp</p>
    </button>
    </a>
        <a href="tel:+905332168318">
        <button  class="p-3 rounded-2xl text-lg cursor-pointer hover:bg-blue-500 bg-blue-600 text-white transition-colors">
        +90 533 216 83 18
    </button>
    </a>

</div>
