<div id="floating-buttons" class="fixed flex flex-col z-40 right-3 bottom-10 gap-3 transition-opacity duration-300">
    <a href="https://wa.me/905332168318">
        <button  class="p-3 gap-1 max-h-[44px] w-full rounded-2xl text-lg cursor-pointer hover:bg-green-300 bg-green-700 text-white transition-colors flex items-center ">
            <img src="/svg/icons8-whatsapp.svg" alt="">
            <p>WhatsApp</p>
    </button>
    </a>
        <a href="tel:+905332168318">
        <button  class="p-3 max-h-[44px] rounded-2xl text-lg cursor-pointer hover:bg-blue-500 bg-blue-600 text-white transition-colors">
        +90 533 216 83 18
    </button>
    </a>
    <a href="https://wa.me/905332168318">

</div>
