
      <footer class="bg-gray-900 pt-20 w-full pb-8">
        <div class="container mx-auto px-4 md:px-8 lg:px-16">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <div class="md:col-span-1">
              <img src="/image/Logo.png" width="140px" alt="logo" />
              <p class="text-gray-400 mt-5">
                Yaşam ve çalışma alanlarınızı yükselten çarpıcı ve işlevsel iç
                mekanlar yaratma konusunda tutkuluyuz.
              </p>
            </div>
            <div>
              <h3 class="text-lg text-white font-bold mb-4">Menü</h3>
              <ul class="space-y-2">
                <li>
                  <a class="text-gray-400 hover:text-white" href="/">Anasayfa</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white" href="/hakkimizda">Hakkımızda</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white" href="/hizmetler">Hizmetler</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white" href="/portfolio">Portföy</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white" href="/blog">Blog</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white" href="/iletisim">İletişim</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="text-lg text-white font-bold mb-4">Hizmetler</h3>
              <ul class="space-y-2">
                <li>
                  <a class="text-gray-400 hover:text-white" href="/hizmetler">Özel Tasarım Mobilyalar</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white" href="/hizmetler">İç Mekan Tasarımı</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white" href="/hizmetler">Tam Ev Dekorasyonu</a>
                </li>
                <li>
                  <a class="text-gray-400 hover:text-white" href="/hizmetler">Ofis Tasarımı</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="text-lg text-white font-bold mb-4">Çalışma Saatleri</h3>
              <ul class="space-y-2 text-gray-400">
                <li>Pazartesi - Cuma: 09:00 - 18:00</li>
                <li>Cumartesi: 10:00 - 16:00</li>
                <li>Pazar: Kapalı</li>
              </ul>
            </div>
          </div>
          <div class="border-t border-gray-700 mt-16 pt-8 flex justify-between items-center">
            <p class="text-gray-400 text-sm">
              © Telif Hakkı 2025. Tüm Hakları Çitlembik Dekorasyon'a Aittir.
            </p>
          </div>
        </div>
      </footer>
