---
import Header from "../components/Header.astro"; // Eklendi
import Buttons from "../components/Buttons.astro"; // Eklendi
import Bg from "../components/Bg.astro"; // Eklendi
import "../styles/global.css";
import { SEO } from "astro-seo";


interface Props {
  title: string;
  description?: string;
  image?: string;
  showBg?: boolean;
}

const {
  title,
  description = "Çitlembik Dekorasyon - A dan z ye dekorason ve yenileme, Özel Tasarım Mobilyalar ve daha fazlası ",
  image = "/image/Logo.png",
  showBg = true,
} = Astro.props;
---

<!doctype html>
<html lang="tr">
  <head>
    <SEO
      title={title}
      description={description}
      charset="utf-8"
      canonical="https://www.citlembikdekorasyon.com"
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: image,
        },
      }}
    />
    <link rel="icon" type="image/png" href="/image/Logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    {showBg && <Bg />}
    <Header />
    <Buttons />
    <slot />


  </body>
</html>
